* {
  font-family: Lato, sans-serif;
  background: #4992dc;
  color: white;
  text-align: center;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

p {
  color: lightgrey;
  font-size: 14px;
}

.container {
  max-width: 950px;
  margin: 50px auto;
  line-height: 1.3;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-third {
  flex-basis: 33%;
  padding: 20px;
}

.img-flex {
  display: flex;
  justify-content: center;
}

.image {
  width: 130px;
  padding: 30px;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
}

img {
  width: 100%;
  background-color: white;
}
