* {
  font-family: sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.one-third {
  flex-basis: 33%;
}

.two-thirds {
  flex-basis: 66%;
}

.one-fourth {
  flex-basis: 25%;
}

img {
  width: 100%;
}
