body {
  margin: 0;
}

.lightbulb-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-color: black;
}

.container-on {
  background-color: lightyellow;
}

.lightbulb-off {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-color: #1b1b1b;
  border-style: none;
  position: relative;
}

.lightbulb-on {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-color: #fdf186;
  box-shadow: 0 0 0.8rem 0.8rem rgb(244 244 185 / 50%);
  border-style: none;
  position: relative;
  transition: background-color 0.3s;
}
